<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Ready to bask in the finished story, <%= @user.name %>?<br>The Lorem Ipsum story is done!</h3>
    <p>
      <a href="<%= @url %>">Here's your magic link<a><br>
    </p>
    <p>Congratulations on your accomplishment as a group!</p>
  </body>
</html>