<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Ready to add your part to the
      <br>
      Lorem Ipsum story, <%= @user.name %>?
    </h3>
    <p>
      <a class="button" href="<%= @url %>">Let's Go</a><br>
      or use this link:<br>
      <a href="<%= @url %>"><%= @url %></a>
    </p>
  </body>
</html>