<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Gentle reminder that the Lorem Ipsum game is waiting for your amazing imagination, <%= @user.name %></h3>
    <p>
      <a href="<%= @url %>">Here's your magic link</a><br>
    </p>
    <p>Looking forward to your creative input!</p>
  </body>
</html>