<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Ready to add the next part to<br>the Lorem Ipsum story, <%= @user.name %>?</h3>
    <p>
      <a href="<%= @url %>">Here's your magic link<a><br>
    </p>
    <p>Looking forward to your creative input!</p>
  </body>
</html>