<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Sorry to say, but your turn was completed in your absence.</h3>
    <p>
    <p>Looking forward to your creative input in your next turn. 🤓</p>
  </body>
</html>