%h3= "Welcome to the Lorem Ipsum Game, #{ @user.name }"
%p You've been added to "#{ @user.game.name }" -- you'll receive notification emails when it's your turn.
%p Looking forward to your creative input!