<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to the Lorem Ipsum Game, <%= @user.name %>.</h3>
    <p>
      You've been added to the Lorem Ipsum game.
      <br>
      This game is titled "<%= @game.name %>".
    </p>
    <p>
      You'll receive notification emails whenever it's your turn.
    </p>
    <p>
      <strong>
        In the meantime, please mark this email as not spam
        <br>
        so that future emails won't go to your spam folder.
      </strong>
    </p>
    <p>
      Looking forward to your creative input!
    </p>
  </body>
</html>