<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the Lorem Ipsum Game, <%= @user.name %></h1>
    <p>
      You have been signed up for the game "<%= @game.name %>", and
      <a href="<%= @url %>">here is your magic link<a>.<br>
    </p>
    <p>Looking forward to your creative input!</p>
  </body>
</html>