%h3= "Welcome to the Lorem Ipsum Game, #{ @user.name }"
%p
  You've been added to the Lorem Ipsum game.
  %br
  = "This game has been called #{ @user.game.name }"
%p You'll receive notification emails whenever it's your turn.
%p
  %strong
    In the meantime, please mark this email as not spam
    %br
    so future emails won't go to your spam folder.
%p Looking forward to your creative input!