<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to the Lorem Ipsum Game, <%= @user.name %></h3>
    <p>
      You have been added to the Lorem Ipsum game "<%= @game.name %>", and
      <a href="<%= @url %>">here's your magic link</a><br>
    </p>
    <p>Looking forward to your creative input!</p>
  </body>
</html>