<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>
      The Lorem Ipsum <%= @game.name %> is paused!
    <br>
      Time to start the next checkin process
    </h3>
  </body>
</html>