/* Application styles */
/* 
  ref https://github.com/twbs/bootstrap-rubygem/blob/main/assets/stylesheets/bootstrap/_variables.scss
  ref https://github.com/twbs/bootstrap-rubygem/issues/210
*/
@import "bootstrap";

.game-name {
  color: green;
  &.ended {
    color: red;
  }
}

.current-player {
  font-weight: 800;
}

input.btn,
input.form-control,
input.form-check-input,
a.btn {
  margin-bottom: 11px;
  margin-right: 15px;
}

p.timestamp {
  margin-bottom: 0px;
  font-weight: 100;
  color: gray;
  font-size: x-small;

  & span {
    font-weight: 400;

    &.time-left {
      color: green
    }
    
    &.minus {
      color: red
    }
  }
}
