/* Application styles */
/* 
  ref https://github.com/twbs/bootstrap-rubygem/blob/main/assets/stylesheets/bootstrap/_variables.scss
  ref https://github.com/twbs/bootstrap-rubygem/issues/210
*/
@import "bootstrap";

.current-player {
  background-color: yellow;
  font-weight: 800;
}

input.btn, input.form-control, a.btn {
  margin-bottom: 10px;
}

p.timestamp {
  margin-bottom: 0px;
  font-weight: 100;
  color: gray;
  font-size: x-small;

  & span {
    font-weight: 400;
  }
}
